.popup {
  display: none;
  position: fixed;
  top: 25%;
  left: 34%;
}

.popup_opened {
  display: block;
}

@media screen and (max-width: 2560px) {
  .popup {
    left: 42%;
  }
}

@media screen and (max-width: 1440px) {
  .popup {
    left: 35%;
  }
}

@media screen and (max-width: 1024px) {
  .popup {
    left: 29%;
  }
}

@media screen and (max-width: 900px) {
  .popup {
    left: 26%;
  }
}

@media screen and (max-width: 768px) {
  .popup {
    top: 20%;
    left: 21%;
  }
}

@media screen and (max-width: 620px) {
  .popup {
    top: 10%;
    left: 17%;
  }
}

@media screen and (max-width: 375px) {
  .popup {
    left: 12%;
  }
}

@media screen and (max-width: 320px) {
  .popup {
    left: 6%;
  }
}

.popup__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 36px;
}

@media screen and (max-width: 620px) {
  .popup__container {
    padding: 25px 22px;
  }
}

.popup__close-icon {
  width: 31px;
  height: 31px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .popup__close-icon {
    width: 26px;
    height: 26px;
    top: -32px;
    right: -2px;
  }
}

.popup__close-icon:hover {
  opacity: 0.6;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 20px;
}

@media screen and (max-width: 620px) {
  .popup__title {
    font-size: 18px;
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input {
  max-width: 358px;
  height: 28px;
  margin: 30px 0 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid grey;
}

@media screen and (max-width: 620px) {
  .popup__input {
    max-width: 238px;
  }
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__error {
  color: red;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  max-width: 358px;
}

@media screen and (max-width: 620px) {
  .popup__error {
    max-width: 238px;
  }
}

.popup__required {
  color: rgb(90, 90, 90);
  font-size: 12px;
  font-weight: 400;
  margin: 25px 0;
}

.popup__button {
  width: 358px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background-color: black;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .popup__button {
    width: 238px;
    font-size: 14px;
  }
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__button_disabled {
  width: 358px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(197, 196, 196);
  border: none;
  pointer-events: none;
}

@media screen and (max-width: 620px) {
  .popup__button_disabled {
    width: 238px;
    font-size: 14px;
  }
}

.popup__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.popup-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-image__container {
  display: none;
  position: fixed;
  top: 12%;
}

.popup-image__container_opened {
  display: block;
}

.popup-image__close-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 620px) {
  .popup-image__close-icon {
    width: 15px;
    height: 15px;
    top: -27px;
    right: -2px;
  }
}

.popup-image__close-icon:hover {
  opacity: 0.6;
}

.popup-image__card {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  z-index: 1;
}

.popup-image__title {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 0;
  z-index: 1;
}

.popup-image__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}
