@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

body {
  background-color: #000;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #000;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0 0;
  width: 880px;
}

@media screen and (max-width: 900px) {
  .header {
    width: 760px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    width: 370px;
  }
}

@media screen and (max-width: 385px) {
  .header {
    width: 320px;
  }
}

.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  max-width: 173px;
  width: 100%;
}

@media screen and (max-width: 620px) {
  .header__logo {
    max-width: 126px;
  }
}

@media screen and (max-width: 385px) {
  .header__logo {
    margin: 0 0 0 27px;
  }
}

.header__line {
  max-width: 880px;
  width: 100%;
  margin: 41px 0 0;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 880px;
  height: 120px;
  margin: 0 auto;
  padding: 40px 0 0;
}

@media screen and (max-width: 900px) {
  .profile {
    width: 760px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 600px;
    height: 100px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    width: 370px;
    height: 272px;
  }
}

@media screen and (max-width: 385px) {
  .profile {
    width: 320px;
  }
}

.profile__section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 620px) {
  .profile__section {
    flex-direction: column;
  }
}

.profile__avatar {
  display: flex;
  justify-content: flex-start;
  max-width: 120px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    max-width: 100px;
  }
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 17px 0 25px;
  height: 77px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 0 17px;
  }
}

@media screen and (max-width: 620px) {
  .profile__info {
    margin: 0;
    align-items: center;
  }
}

.profile__info-name {
  color: white;
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  margin: 0 0 16px;
  max-height: 44px;
}

@media screen and (max-width: 900px) {
  .profile__info-name {
    font-size: 32px;
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 620px) {
  .profile__info-name {
    margin: 0 0 4px;
  }
}

.profile__info-button {
  width: 24px;
  height: 24px;
  margin: 0 0 17px;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .profile__info-button {
    margin: 0 0 20px;
  }
}

.profile__info-button:hover {
  opacity: 0.5;
}

.profile__info-description {
  color: white;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  margin: 0;
  max-height: 17px;
}

@media screen and (max-width: 900px) {
  .profile__info-description {
    font-size: 14px;
  }
}

.profile__add-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 120px;
  }
}

@media screen and (max-width: 620px) {
  .profile__add-button {
    width: 100%;
  }
}

.profile__add-button:hover {
  opacity: 0.5;
}

.photo-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  width: 880px;
  height: 756px;
  margin: 0 auto;
  padding: 50px 0 0;
}

@media screen and (max-width: 900px) {
  .photo-cards {
    width: 600px;
    height: 1150px;
  }
}

@media screen and (max-width: 620px) {
  .photo-cards {
    width: 282px;
    height: 2316px;
  }
}

.braies {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.braies__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.braies__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.braies__image-trash:hover {
  opacity: 0.5;
}

.braies__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.braies__image-like:hover {
  opacity: 0.5;
}

.braies__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.calvas {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.calvas__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.calvas__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.calvas__image-trash:hover {
  opacity: 0.5;
}

.calvas__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.calvas__image-like:hover {
  opacity: 0.5;
}

.calvas__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.louise {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.louise__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.louise__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.louise__image-trash:hover {
  opacity: 0.5;
}

.louise__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.louise__image-like:hover {
  opacity: 0.5;
}

.louise__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.latemar {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.latemar__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.latemar__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.latemar__image-trash:hover {
  opacity: 0.5;
}

.latemar__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.latemar__image-like:hover {
  opacity: 0.5;
}

.latemar__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.yellowstone {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.yellowstone__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
  max-width: 226px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.yellowstone__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.yellowstone__image-trash:hover {
  opacity: 0.5;
}

.yellowstone__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.yellowstone__image-like:hover {
  opacity: 0.5;
}

.yellowstone__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.yosemite {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.yosemite__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.yosemite__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.yosemite__image-trash:hover {
  opacity: 0.5;
}

.yosemite__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.yosemite__image-like:hover {
  opacity: 0.5;
}

.yosemite__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.popup_opened {
  display: none;
}

.popup {
  position: fixed;
  top: 25%;
  left: 34%;
}

@media screen and (max-width: 900px) {
  .popup {
    left: 26%;
  }
}

@media screen and (max-width: 768px) {
  .popup {
    top: 20%;
    left: 21%;
  }
}

@media screen and (max-width: 620px) {
  .popup {
    left: 17%;
  }
}

@media screen and (max-width: 375px) {
  .popup {
    left: 12%;
  }
}

@media screen and (max-width: 320px) {
  .popup {
    left: 6%;
  }
}

.popup__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 36px;
}

@media screen and (max-width: 620px) {
  .popup__container {
    padding: 25px 22px;
  }
}

.popup__close-icon {
  width: 31px;
  height: 31px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .popup__close-icon {
    width: 26px;
    height: 26px;
    top: -32px;
    right: -2px;
  }
}

.popup__close-icon:hover {
  opacity: 0.6;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 50px;
}

@media screen and (max-width: 620px) {
  .popup__title {
    font-size: 18px;
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input-name {
  max-width: 358px;
  height: 28px;
  margin: 0 0 30px;
  border-top: 0cap;
  border-left: 0cap;
  border-right: 0cap;
}

@media screen and (max-width: 620px) {
  .popup__input-name {
    max-width: 238px;
  }
}

.popup__input-about {
  max-width: 358px;
  height: 28px;
  margin: 0 0 48px;
  border-top: 0cap;
  border-left: 0cap;
  border-right: 0cap;
}

@media screen and (max-width: 620px) {
  .popup__input-about {
    max-width: 238px;
  }
}

.popup__button {
  width: 358px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background-color: black;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .popup__button {
    width: 238px;
    font-size: 14px;
  }
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  color: #545454;
  max-width: 880px;
  margin: 0 auto;
  padding: 70px 0 155px;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    max-width: 760px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    max-width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}
