@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

body {
  background-color: #000;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #000;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0 0;
  width: 880px;
}

.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  max-width: 173px;
  width: 100%;
}

.header__line {
  max-width: 880px;
  width: 100%;
  margin: 41px 0 0;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 880px;
  height: 120px;
  margin: 0 auto;
  padding: 40px 0 0;
}

.profile__section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__avatar {
  display: flex;
  justify-content: flex-start;
  max-width: 120px;
  width: 100%;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 17px 0 25px;
  height: 77px;
}

.profile__info-name {
  color: white;
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  margin: 0 0 16px;
  max-height: 44px;
}

.profile__info-button {
  width: 24px;
  height: 24px;
  margin: 0 0 17px;
  cursor: pointer;
}

.profile__info-button:hover {
  opacity: 0.5;
}

.profile__info-description {
  color: white;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  margin: 0;
  max-height: 17px;
}

.profile__add-button {
  display: flex;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.5;
}

.photo-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  width: 880px;
  height: 756px;
  margin: 0 auto;
  padding: 50px 0 0;
}

.braies {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.braies__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.braies__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.braies__image-trash:hover {
  opacity: 0.5;
}

.braies__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.braies__image-like:hover {
  opacity: 0.5;
}

.braies__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.calvas {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.calvas__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.calvas__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.calvas__image-trash:hover {
  opacity: 0.5;
}

.calvas__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.calvas__image-like:hover {
  opacity: 0.5;
}

.calvas__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.louise {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.louise__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.louise__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.louise__image-trash:hover {
  opacity: 0.5;
}

.louise__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.louise__image-like:hover {
  opacity: 0.5;
}

.louise__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.latemar {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.latemar__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.latemar__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.latemar__image-trash:hover {
  opacity: 0.5;
}

.latemar__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.latemar__image-like:hover {
  opacity: 0.5;
}

.latemar__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.yellowstone {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.yellowstone__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
  max-width: 226px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.yellowstone__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.yellowstone__image-trash:hover {
  opacity: 0.5;
}

.yellowstone__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.yellowstone__image-like:hover {
  opacity: 0.5;
}

.yellowstone__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.yosemite {
  width: 282px;
  height: 361px;
  background-image: url(../images/Rect.png);
}

.yosemite__title {
  color: black;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  position: absolute;
  margin: 307px auto 26px 21px;
}

.yosemite__image-trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  margin: 18px 15px 323px 249px;
  cursor: pointer;
}

.yosemite__image-trash:hover {
  opacity: 0.5;
}

.yosemite__image-like {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 312px 18px 30px 243px;
  cursor: pointer;
}

.yosemite__image-like:hover {
  opacity: 0.5;
}

.yosemite__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.popup_opened {
  display: none;
}

.popup {
  position: fixed;
  top: 25%;
  left: 34%;
}

.popup__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 36px;
}

.popup__close-icon {
  width: 31px;
  height: 31px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 50px;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input-name {
  max-width: 358px;
  height: 28px;
  margin: 0 0 30px;
  border-top: 0cap;
  border-left: 0cap;
  border-right: 0cap;
}

.popup__input-about {
  max-width: 358px;
  height: 28px;
  margin: 0 0 48px;
  border-top: 0cap;
  border-left: 0cap;
  border-right: 0cap;
}

.popup__button {
  width: 358px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background-color: black;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  color: #545454;
  max-width: 880px;
  margin: 0 auto;
  padding: 70px 0 155px;
}
